.env

/data/objects/*

/data/ifc/JX-B405-REVIT - Mar18_hphi344.ifc
/data/ifc/JX-B405-REVIT - Mar18_hphi344-structuralifc.ifc
data/ifc/

data/wsp_new/*

__pycache__
/data/object_categories.csv

/flask_session

/data/wall-nse_top20_unique_all.xlsx